
@{
    ViewBag.Title = "Caculator";
}
<style>
    .input-group-lg > .form-control:not(textarea), .input-group-lg > .custom-select {
        font-size: 15px;
    }

    .form-control-lg {
        width: 100%;
        height: 48px;
        max-width: 91%;
    }

    .form-select {
        height: 48px;
        font-size: 15px;
    }

    .form-control {
        font-size: 1.5rem;
    }

    label {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
        font-family: Roboto,sans-serif;
    }

    h4 {
        font-size: 13px;
    }
</style>


@Html.Partial("~/Views/_Header.cshtml")
@section sidebar{
    <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out" >
                <a href="/Calculator/Index" style="text-decoration:none">
                    <li data-toggle="collapse" data-target="#products" class="collapsed active">
                        <i class="fa fa-dashboard fa-lg" style="padding-right:10px"></i>
                        Calculator
                    </li>

                </a>
                <a href="/UploadRate/Index" style="text-decoration:none">
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <i class="fa fa-car fa-lg" style="padding-right:8px"></i>
                        Upload rate
                    </li>
                </a>
            </ul>
        </div>
    </div>
}
<body>
    <div style="min-height:80vH">
        <section>
            <h3>Freight Rates Portal</h3>
            <div>
                <div class="row">
                    <div class="col-xs-6 col-md-4" style="margin-top:15px;">
                        <label>Source</label>
                        <select class="form-select form-control-lg mb-5" id="sourceSelect" style=" height: 48px;">
                            <option value="-1">Please Select a Country</option>
                        </select>
                    </div>

                    <div class="col-xs-6 col-md-4" style="margin-top: 15px; ">
                        <label>Destination</label>
                        <select class="form-select form-control-lg mb-5" id="destinationSelect" style=" height: 48px;">
                            <option value="-1">Please Select a Country</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-4" style="margin-top: 15px; ">
                        <label>Carrier</label>
                        <select class="form-select form-control-lg mb-5" id="carrierSelect" style=" height: 48px;">
                            <option value="-1">Please Select a Carrier</option>
                        </select>
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-6 col-md-4">
                        <label>Service type</label>
                        <select class="form-select form-control-lg mb-5" id="servicesSelect" style=" height: 48px;">
                            <option selected>Services Type</option>
                        </select>
                    </div>

                    <div class="col-xs-6 col-md-4">
                        <label>Packaging type</label>
                        <select class="form-select form-control-lg mb-5" id="packagingSelect" style=" height: 48px;">
                            <option value="-1">Please Select a Packaging</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label for="exampleInputEmail1">Weight</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex;">
                            <input type="text" id="weightSelect" placeholder="Weight" class="form-control" aria-label="Weight" style="height: 48px;max-width:395px">
                            <div class="input-group-append">
                                <span class="input-group-text">Kg</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-6 col-md-4" style="margin-top:15px;" id="lengthGroup">
                        <label for="exampleInputEmail1">Length</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex">
                            <input type="text" id="weightSelect" placeholder="Length" class="form-control" aria-label="Weight" style="height: 48px; max-width: 395px">
                            <div class="input-group-append">
                                <span class="input-group-text">CM</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-4" style="margin-top:15px" id="widthGroup">
                        <label for="exampleInputEmail1">Width</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex">
                            <input type="text" id="weightSelect" placeholder="Width" class="form-control" aria-label="Weight" style="height: 48px;max-width: 395px">
                            <div class="input-group-append">
                                <span class="input-group-text">CM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4" style="margin-top:15px;" id="heightGroup">
                        <label for="exampleInputEmail1">Height</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex">
                            <input type="text" id="weightSelect" placeholder="Height" class="form-control" aria-label="Weight" style="height: 48px; max-width: 395px">
                            <div class="input-group-append">
                                <span class="input-group-text">CM</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="margin-top:20px">
                    <button type="button" class="btn btn-primary btn-lg" id="searchButton">Search</button>
                </div>
            </div>
            <div style="margin-top:50px">
                <h3>
                    Corporate Rate
                </h3>
                <table class="table" id="example">
                    <thead>
                        <tr>
                            <th scope="col">Carrier</th>
                            <th scope="col">Service Type</th>
                            <th scope="col">Packaging Type</th>
                            <th scope="col">Weight Range(kg)</th>
                            <th scope="col">Surcharge</th>
                            <th scope="col">Working days(day)</th>
                            <th scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
           
            <button onclick="location.href='/shipping-cost1.xlsx'" class="btn btn-primary btn-lg" role="button" type="button">Export</button>
        </section>
        <footer style=" position:absolute;top:100%; font-size:15px;margin-top:10px;">
            <label style="font-weight: normal">Copyright Mentor Media, 2021</label>
        </footer>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        var arr = [];

        var serviceOptionDefault = " <option selected value='0'>Services Type</option>";
        var pakagingOptionDefault = "<option selected value='0'>Packaging Type</option>";
        var weightOptionDefault = "<option selected value='0'>Weight</option>";
        // Event choose carrier
        $("#carrierSelect").change(function () {
            $("#packagingSelect").html(pakagingOptionDefault);
            $("#weightSelect").html(weightOptionDefault);
            var servicesForFedex = serviceOptionDefault + "<option value='1'>Priority (IP)</option>"
                + "<option value='2'>Economy (IE)</option>"
                + "<option value='3'>Priority Freight</option>"
                + "<option value='4'>Economy Freight</option>";
            var servicesForDHL = serviceOptionDefault + "<option value='5'>Express</option>";
            var value = $(this).val();
            if (value == '1')
                $("#servicesSelect").html(servicesForFedex);
            if (value == '2')
                $("#servicesSelect").html(servicesForDHL);
            if (value == '0')
                $("#servicesSelect").html(serviceOptionDefault);

        });
        // Event when choose services type
        $("#servicesSelect").change(function () {
            $("#weightSelect").html(weightOptionDefault);
            var packagingTypeForService1Or2 = pakagingOptionDefault + "<option value='1'>Envelope (Doc)</option>"
                + "<option value='2'>Pak</option>"
                + "<option value='3'>Package</option>";
            var packagingTypeForService3Or4 = pakagingOptionDefault + "<option value='4'>NIL.</option>";
            var packagingTypeForService5 = pakagingOptionDefault + "<option value='5'>Envelope (Doc)</option>"
                + "<option value='6'>Package</option>";
            var serviceValue = $(this).val();
            var packagingTypeElement = $("#packagingSelect");
            if (serviceValue == '1' || serviceValue == '2')
                packagingTypeElement.html(packagingTypeForService1Or2);
            if (serviceValue == '3' || serviceValue == '4')
                packagingTypeElement.html(packagingTypeForService3Or4);
            if (serviceValue == '5')
                packagingTypeElement.html(packagingTypeForService5);
        })
        // Event when choose packaging type
        $("#packagingSelect").change(function () {
            var option1 = weightOptionDefault + "<option value='1'>0-2.5kg</option>";
            var option2 = weightOptionDefault + "<option value='2'>0.5-2.5kg</option>";
            var option3 = weightOptionDefault + "<option value='3'>0.5-99.999kg</option>";
            var option4 = weightOptionDefault + "<option value='4'>Above 68kg -99.999kg</option>";

            var packagingValue = $(this).val();
            var weightElement = $("#weightSelect");

            if (packagingValue == '0' || packagingValue == '5') {
                $('#heightGroup').attr('hidden', false);
                $('#widthGroup').attr('hidden', false);
                $('#lengthGroup').attr('hidden', false);
                weightElement.html(option1);
            }
            if (packagingValue == '1' || packagingValue == '5') {
                $('#heightGroup').attr('hidden', true);
                $('#widthGroup').attr('hidden', true);
                $('#lengthGroup').attr('hidden', true);
                weightElement.html(option1);
            }

            if (packagingValue == '2') {
                $('#heightGroup').attr('hidden', false);
                $('#widthGroup').attr('hidden', false);
                $('#lengthGroup').attr('hidden', false);
                weightElement.html(option2);
            }

            if (packagingValue == '3' || packagingValue == '6') {
                $('#heightGroup').attr('hidden', false);
                $('#widthGroup').attr('hidden', false);
                $('#lengthGroup').attr('hidden', false);
                weightElement.html(option3);
            }




        })
        $("#searchButton").click(function () {
            var source = $("#sourceSelect").val();
            var desination = $("#destinationSelect").val();
            console.log("Source:", source)
            console.log("desination:", desination)
            console.log("search button")
            var serviceValue = $("#servicesSelect").val()
            var packagingSelect = $("#packagingSelect").val()
            var weightSelect = $("#weightSelect").val()
            var priorityEnvelope = { "Carrier": "Fedex", "Service": "Priority", "Packaging": "Envelope", "Weight": "0-2.5", "Surcharge": "10%", "Workingdays": "2-4", "Cost": 1000 }
            var priorityPak = { "Carrier": "Fedex", "Service": "Priority", "Packaging": "Pak", "Weight": "0.5-2.5", "Surcharge": "11.2%", "Workingdays": "2-4", "Cost": 2000 }
            var priorityPackage = { "Carrier": "Fedex", "Service": "Priority", "Packaging": "Package", "Weight": "0.5-99,999", "Surcharge": "10%", "Workingdays": "2-4", "Cost": 3000 }
            var economyEnvelope = { "Carrier": "Fedex", "Service": "Economy", "Packaging": "Envelope", "Weight": "0-2.5", "Surcharge": "10%", "Workingdays": "3-6", "Cost": 4000 }
            var economyPak = { "Carrier": "Fedex", "Service": "Economy", "Packaging": "Pak", "Weight": "0.5-2.5", "Surcharge": "10%", "Workingdays": "3-6", "Cost": 5000 }
            var economyPackage = { "Carrier": "Fedex", "Service": "Economy", "Packaging": "Package", "Weight": "0.5-99,999", "Surcharge": "10%", "Workingdays": "3-6", "Cost": 6000 }
            var priorityFreightNIL = { "Carrier": "Fedex", "Service": "Priority Freight", "Packaging": "NIL", "Weight": "68-99,999", "Surcharge": "10%", "Workingdays": "2-4", "Cost": 7000 }
            var economyFreightEnvelope = { "Carrier": "Fedex", "Service": "Economy Freight", "Packaging": "NIL", "Weight": "68.5-99,999", "Surcharge": "10%", "Workingdays": "2-4", "Cost": 8000 }

            var expressEnvelope = { "Carrier": "DHL", "Service": "Express", "Packaging": "Envelope", "Weight": "0-2.5", "Surcharge": "10%", "Workingdays": "2-4", "Cost": 1000 }
            var expressPackage = { "Carrier": "DHL", "Service": "Express", "Packaging": "Package", "Weight": "0.5-99,999", "Surcharge": "10%", "Workingdays": "2-4", "Cost": 3000 }


            var data = [];
            console.log("Service:", serviceValue);
            console.log("packaging:", packagingSelect);
            var carrier = $("#carrierSelect").val()
            console.log(carrier)
            if (carrier == '0') {
                data.push(priorityEnvelope,
                    priorityPak,
                    priorityPackage,
                    economyEnvelope,
                    economyPak,
                    economyPackage,
                    priorityFreightNIL,
                    economyFreightEnvelope,
                    expressEnvelope,
                    expressPackage
                )
            }
            if (carrier == '1') {
                if (serviceValue == '0') {
                    data.push(priorityEnvelope,
                        priorityPak,
                        priorityPackage,
                        economyEnvelope,
                        economyPak,
                        economyPackage,
                        priorityFreightNIL,
                        economyFreightEnvelope
                    )
                }
                if (serviceValue == '1') {
                    if (packagingSelect == '0') {
                        data.push(priorityPak, priorityEnvelope, priorityPackage)
                    }
                    if (packagingSelect == '1') {
                        data.push(priorityEnvelope)
                    }
                    if (packagingSelect == '2') {
                        data.push(priorityPak)
                    }
                    if (packagingSelect == '3') {
                        data.push(priorityPackage)
                    }
                }
                if (serviceValue == '2') {
                    if (packagingSelect == '0') {
                        data.push(economyEnvelope, economyPak, economyPackage)
                    }
                    if (packagingSelect == '1') {
                        data.push(economyEnvelope)
                    }
                    if (packagingSelect == '2') {
                        data.push(economyPak)
                    }
                    if (packagingSelect == '3') {
                        data.push(economyPackage)
                    }
                }
                if (serviceValue == '3') {
                    data.push(priorityFreightNIL)
                }
                if (serviceValue == '4') {
                    data.push(economyFreightEnvelope)
                }
            }
            if (carrier == "2") {
                if (serviceValue == "0") {
                    data.push(expressEnvelope, expressPackage)
                }
                if (serviceValue == '5') {
                    if (packagingSelect == '0') {
                        data.push(expressEnvelope, expressPackage)
                    }
                    if (packagingSelect == '5') {
                        data.push(expressEnvelope)
                    }
                    if (packagingSelect == '6') {
                        data.push(expressPackage)
                    }
                }
            }
            var contentToRemove = document.querySelectorAll("#tr-id");
            $(contentToRemove).remove();
            if (source == "Source" || desination == "Destination" || weightSelect == "") {
                alert('Source, destination, weight are not empty');
            }
            else {
                //var month = [2, 3, 6, 5, 4];
                for (i = 0; i < data.length; i++) {
                    var cost = data[i].Cost * parseFloat(weightSelect);
                    var string = Number(cost).toLocaleString();
                    console.log(string)
                    $('<tr id="tr-id">')
                        .append($('<td>').append(data[i].Carrier))
                        .append($('<td>').append(data[i].Service))
                        .append($('<td>').append(data[i].Packaging))
                        .append($('<td>').append(data[i].Weight))
                        .append($('<td>').append(data[i].Surcharge))
                        .append($('<td>').append(data[i].Workingdays))
                        .append($('<td>').append(string, " SGD"))
                        //.append($('<td>').append([data[i].Cost * parseInt(weightSelect))
                        .appendTo('table tbody');
                }
            }

        })
    });
    $(document).ready(function () {       
        $.ajax({
            type: "GET",
            url: "/Utility/GetListCountry",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var s = '<option value="-1">Please Select a Country</option>';
                for (var i = 0; i < data.data.length; i++) {
                    s += '<option value="' + data.data[i].text + '">' + data.data[i].text + '</option>';
                }
                $("#sourceSelect").html(s);
                $("#destinationSelect").html(s);
            }
        });
    });
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Utility/GetListCarriers",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var s = '<option value="-1">Please Select a Carrier</option>';
                for (var i = 0; i < data.data.length; i++) {
                    s += '<option value="' + data.data[i].text + '">' + data.data[i].text + '</option>';
                }
                $("#carrierSelect").html(s);
            }
        });
    });
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Utility/GetListPackageType",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var s = '<option value="-1">Please Select a Packing</option>';
                for (var i = 0; i < data.data.length; i++) {
                    s += '<option value="' + data.data[i].value + '">' + data.data[i].text + '</option>';
                }
                $("#packagingSelect").html(s);
            }
        });
    });
    $("#searchButton").click(function () {
        var model = {
            From: $("#sourceSelect").val(),
            To: $("#destinationSelect").val(),
            ServiceType: "",
            PackageType: $("#packagingSelect").val(),
            Region: "",
            Weight: $("#weightSelect").val(),
        }
        var data = JSON.stringify(model);
        $.ajax({
            url: "/Calculator/GetPrice",
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            data: data,
            success: function (result) {
                console.log(result);
            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });
    });
</script>
