@{
    ViewBag.Title = "User";
}
<style>
    .input-group-lg > .form-control:not(textarea), .input-group-lg > .custom-select {
        font-size: 15px;
    }

    .form-control-lg {
        width: 100%;
        height: 48px;
        max-width: 91%;
    }

    .form-select {
        height: 48px;
        font-size: 15px;
    }

    .form-control {
        font-size: 1.5rem;
    }

    label {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
        font-family: Roboto,sans-serif;
    }

    h4 {
        font-size: 13px;
    }
</style>


@Html.Partial("~/Views/_Header.cshtml")
@section sidebar{
    <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <a href="/UAT/Freight_Wireframe/Calculator/Index" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#products" class="collapsed">
                    <i class="fa fa-dashboard fa-lg" style="padding-right:10px"></i>
                    Calculator
                </li>

                </a>
                <a href="/UAT/Freight_Wireframe/UploadRate/Index" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#new" id="uprate" class="collapsed">
                    <i class="fa fa-car fa-lg" style="padding-right:8px"></i>
                    Upload rate
                </li>
                </a>
                <a href="/UAT/Freight_Wireframe/SurchargeRate/Index" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#new" id="surrate" class="collapsed">
                    <i class="fa fa-car fa-lg" style="padding-right:8px"></i>
                    Surcharge Rate
                </li>
                </a>
                <a href="/UAT/Freight_Wireframe/Home/AssignRole" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#new" id="asrole" class="collapsed active">
                    <i class="fa fa-car fa-lg" style="padding-right:8px"></i>
                    User
                </li>
                </a>
            </ul>
        </div>
    </div>
}
<body>
    <div style="min-height:80vH">
        <section>
            <div style=" font-size:1.5rem">
                <div class="row" id="divMonth" hidden>
                    <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Email</label>
                        <input class="form-select form-control-lg mb-5 col-md-12" type="text" readonly id="email" value="" style="height: 48px;" />
                    </div>
                    <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Role</label>
                        <select id="role" class="form-select form-control-lg mb-5 col-md-9" style="height:48px">
                            <option value="System Administrator">System Administrator</option>
                            <option value="Enquity">Enquity</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4 " style="margin-top: 15px; ">
                        <label class="col-md-12 row">Active</label>
                        <select id="active" class="form-select form-control-lg mb-5 col-md-9" style="height:48px">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="row ml-0" style="margin-top:20px">
                    <button type="button" class="btn btn-primary btn-lg" hidden id="saveButton">Save Change</button>
                </div>
                <div class="row" style="margin-left:0px">
                    <table class="table table-striped" id="tableSurchargeRate">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Role</th>
                                <th>Active</th>
                                <th class="record">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="user_1">admin@gmail.com</td>
                                <td id="role_1">System Administrator</td>
                                <td id="active_1">Active</td>
                                <td><input value="Edit" class="record" type="button" onclick="Edit(1)" /></td>
                            </tr>
                            <tr>
                                <td id="user_2">test@gmail.com</td>
                                <td id="role_2">Enquity</td>
                                <td id="active_2">Active</td>
                                <td><input value="Edit" class="record" type="button" onclick="Edit(2)" /></td>
                            </tr>
                            <tr>
                                <td id="user_3">test2@gmail.com</td>
                                <td id="role_3">Enquity</td>
                                <td id="active_3">Inactive</td>
                                <td><input value="Edit" class="record" type="button" onclick="Edit(3)" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
            <div>
                <input hidden id="selected" />
            </div>
        </section>      
        <footer style=" position:absolute;top:100%; font-size:15px;margin-top:10px;">
            <label style="font-weight: normal">Copyright Mentor Media, 2021</label>
        </footer>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    function Edit(id) {
        var iduser = "#user_" + id;
        var idrole = "#role_" + id;
        var idactive = "#active_" + id;
        var s = $(iduser).text();
        var s2 = $(idrole).text();
        var s3 = $(idactive).text();
        $("#email").val(s);
        $("#role").val(s2).change();
        $("#active").val(s3).change();
        $("#selected").val(id);
        $("#divMonth").removeAttr("hidden");
        $("#saveButton").removeAttr("hidden");
    }
    $("#saveButton").click(function () {
        var s = $("#role").val();
        var s1 = $("#active").val();
        var tdrole = "#role_" + $("#selected").val();
        var html = '<td id="' + tdrole + '">' + s + '</td>';
        $(tdrole).replaceWith(html);
        var tdactive = "#active_" + $("#selected").val();
        var html1 = '<td id="' + tdactive + '">' + s1 + '</td>';
        $(tdactive).replaceWith(html1);
        $("#email").val("");
        $("#selected").val("");
        $("#divMonth").attr("hidden", true);
        $("#saveButton").attr("hidden",true);
    });
</script>
