@{
    ViewBag.Title = "User";
}
<style>
    .input-group-lg > .form-control:not(textarea), .input-group-lg > .custom-select {
        font-size: 15px;
    }

    .form-control-lg {
        width: 100%;
        height: 48px;
        max-width: 91%;
    }

    .form-select {
        height: 48px;
        font-size: 15px;
    }

    .form-control {
        font-size: 1.5rem;
    }

    label {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
        font-family: Roboto,sans-serif;
    }

    h4 {
        font-size: 13px;
    }
</style>


@Html.Partial("~/Views/_Header.cshtml")
@section sidebar{
    <div class="nav-side-menu">
        <i class="fa fa-lg fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                @foreach (var m in MM_Freight_Rate_API_Backend.Hepler.ListModules)
                {
                    <a href="@m.URL" style="text-decoration:none">
                        <li data-toggle="collapse" class="collapsed" data-target="#products">
                            <i class="fa fa-lg @m.ICON_IMAGE" style="padding-right:10px"></i>
                            @m.MODULE_NAME
                        </li>
                    </a>
                }
            </ul>
        </div>
    </div>
}
<body>
    <div style="min-height:80vH">
        <section>
            <h3>User</h3>
            <div style=" font-size:1.5rem">
                <div class="row" id="divMonth" hidden>
                    <div class="col-xs-4 col-md-3" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Email</label>
                        <input class="col-md-12" type="text" readonly disabled id="editEmail" value="" />
                    </div>
                    <div class="col-xs-4 col-md-3" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Name</label>
                        <input class="col-md-12" type="text" id="editName" value="" />
                    </div>
                    <div class="col-xs-4 col-md-2" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Site</label>
                        <select id="editSite" class="form-select form-control-lg mb-1 col-md-9">
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-2" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Profile</label>
                        <select id="editProfile" class="form-select form-control-lg mb-1 col-md-9">
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-2" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Status</label>
                        <select id="editStatus" class="form-select form-control-lg mb-1 col-md-9">
                        </select>
                    </div>
                </div>
                <div class="row ml-0" style="margin-bottom:20px">
                    <button type="button" class="btn btn-primary btn-lg" hidden id="saveButton">Save Change</button>
                </div>
                <div class="row ml-0">
                    <div class="col-md-6 mr-0 row">
                        <label class="col-md-12 row">Search:</label>
                        <input type="text" id="myInput" style=" max-width: 395px" class="form-control" onkeyup="search()" placeholder="Search for email..">
                    </div>
                    <div class="col-md-6 row">
                        <label style="margin-right: 21px;">Status:</label>
                        <div class="mgroup">
                            <input type="radio" id="contactChoice1" name="contact" onclick="search('PENDING')" value="PENDING">
                            <label for="contactChoice1">Pending</label>
                            <input type="radio" id="contactChoice2" name="contact" onclick="search('ACTIVE')" value="ACTIVE">
                            <label for="contactChoice2">Active</label>
                            <input type="radio" id="contactChoice3" name="contact" onclick="search('INACTIVE')" value="INACTIVE">
                            <label for="contactChoice3">Inactive</label>
                            <input type="radio" id="contactChoice4" name="contact" checked="checked" onclick="search()" value="ALL">
                            <label for="contactChoice4">All</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px">
                    <table class="table table-striped" id="tableSurchargeRate">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Name</th>
                                <th>Site ID</th>
                                <th>Profile</th>
                                <th>Status</th>
                                <th class="record">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <input hidden id="selected" />
            </div>
        </section>
        <footer style=" position:absolute;top:100%; font-size:15px;margin-top:10px;">
            <label style="font-weight: normal">Copyright Mentor Media, 2021</label>
        </footer>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>

    //$(document).ready(function () {
    var userList;

    $.ajax({
        type: "GET",
        url: baseURL + "/Account/GetUserStatus",
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        success: function (response) {
            var s = '';
            for (var i = 0; i < response.data.length; i++) {
                if (response.data[i].text != "Active") {
                    s += '<option value="' + response.data[i].value + '">' + response.data[i].text + '</option>';
                }
            }
            $("#editStatus").html(s);
        }
    });

    $.ajax({
        type: "GET",
        url: baseURL + "/Account/GetListSites",
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        success: function (response) {
            var s = '';
            for (var i = 0; i < response.data.length; i++) {
                s += '<option value="' + response.data[i].value + '">' + response.data[i].text + '</option>';
            }
            $("#editSite").html(s);
        }
    });

    $.ajax({
        type: "GET",
        url: baseURL + "/Account/GetListGroup",
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        success: function (response) {
            var s = '';
            for (var i = 0; i < response.data.length; i++) {
                s += '<option value="' + response.data[i].value + '">' + response.data[i].text + '</option>';
            }
            $("#editProfile").html(s);
        }
    });

    function toggleEdit(isEdit) {
        if (isEdit == true) {
            $("#divMonth").removeAttr("hidden");
        }
        else {
            $("#divMonth").attr("hidden", "true");
            $("#saveButton").attr("hidden", "true");
        }
    }

    function setDropdownStatus(status) {
        var s = '';
        if (status == "PENDING") {
            s += '<option value="PENDING">Pending</option>';
            s += '<option value="APPROVED">Approve</option>';
            s += '<option value="INACTIVE">Inactive</option>';
            $("#editStatus").html(s);
        }
        else {
            s += '<option value="ACTIVE">Active</option>';
            s += '<option value="INACTIVE">Inactive</option>';
            $("#editStatus").html(s);

        }
    };

    $(document).on('click', ".edit-record", function () {
        var index = $(this).attr("editId");
        setDropdownStatus(userList[index].USER_STATUS);
        $("#editEmail").val(userList[index].USER_EMAIL);
        $("#editName").val(userList[index].USER_NAME);
        $("#editSite").val(userList[index].SITE_ID).change();
        $("#editProfile").val(userList[index].GROUP_ID).change();
        $("#editStatus").val(userList[index].USER_STATUS).change();
        $("#divMonth").removeAttr("hidden");
        $("#saveButton").removeAttr("hidden");
    });

    $("#saveButton").click(function () {
        $.ajax({
            type: "POST",
            url: baseURL + "/account/UpdateUser",
            data: JSON.stringify({
                "Name": $("#editName").val(),
                "email": $("#editEmail").val(),
                "Site": $("#editSite").val(),
                "Group": $("#editProfile").val(),
                "Status": $("#editStatus").val()
            }),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                toggleEdit(false);
                search();
            }
        })
    });

    function search(status) {
        var contentToRemove = document.querySelectorAll("#tr-id");
        $(contentToRemove).remove();
        $.ajax({
            type: "POST",
            url: baseURL + "/account/GetListUsers",
            data: JSON.stringify({
                "name": $("#myInput").val(),
                "id": "",
                "category": "",
                "code": "",
                "status": status == undefined ? "" : status,
                "order_by": "",
                "pageIndex": 1,
                "pageSize": 2000
            }),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                userList = response.data.Items;
                for (var i = 0; i < response.data.Items.length; i++) {
                    var item = response.data.Items[i];
                    //var btnEdit = $('<input value="Edit" class="record" type="button" onclick="Edit(' + item.USER_EMAIL + '","' + item.USER_NAME + '","' + item.SITE_ID + '","' + item.GROUP_ID + '","' + item.USER_STATUS + '")" />');

                    var btnEdit = $('<input value="Edit" class="edit-record" type="button" editId="' + i + '"  />');
                    $('<tr id="tr-id">')
                        .append($('<td>').append(item.USER_EMAIL))
                        .append($('<td>').append(item.USER_NAME))
                        .append($('<td>').append(item.SITE_ID))
                        .append($('<td>').append(item.GROUP_ID))
                        .append($('<td>').append(item.USER_STATUS))
                        .append($('<td>').append(btnEdit))
                        .appendTo('table tbody');
                }
                if (response.data.Items.length == 0) {
                    $('<tr id="tr-id">')
                        .append($('<td colspan="6">').append("No records found!"))
                        .appendTo('table tbody');
                }
            }
        })
    };
    search('');
    //});
</script>