@{
    ViewBag.Title = "Home Page";
}
<link href="~/Style/login.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first" style="margin-top:30px">
            <img src="https://ebiz5-staging.mentormedia.com/RFID-WIREFRAME/_nuxt/img/logo.9b9a022.png" id="icon" alt="User Icon" />
            <h3 style="margin-top: 10px;">
                MENTOR MEDIA FREIGHT PORTAL
            </h3>
        </div>
        <hr role="separator" aria-orientation="horizontal" class="my-8 v-divider theme--light">
        <form action="/Home/Index" method="post" enctype="multipart/form-data">
            <div class="form-group form-check">
                <button class="btn btn-primary btn-lg" onclick="GoToSigncUp()" type="button">Sign Up</button>
                <button class="btn btn-primary btn-lg fw" onclick="SSO()" type="button">Login As Mentor Media Staff</button>
            </div>
            <div id="formFooter" style="margin-top:20px">
            </div>
        </form>
    </div>
    
</div>

<script>
    $("#submitButton").click(function () {
        window.location.href = "/About";
    })
    function GoToSigncUp() {     
        
        location.href = '@Url.Action("SignUp","Home")';
    }

    function SSO() {
        //location.href = '/UAT/Freight_Wireframe/Calculator/Index?email=staff1@gmail.com';
        //let urlMM = 'https://ebiz3-uat.mentormedia.com/UAT/O365Login?Redirect=';
        let urlMM = 'https://sgweb07-uat.mentormedia.com/UAT/O365Login?Redirect=';
        let urlLocal = window.location.href;
        location.href = urlMM + urlLocal;
    }
    $(document).ready(function () {
        var url = new URL(window.location.href);
        var idReturn = url.searchParams.get("ID");
        if (idReturn != null)
            login2FA(idReturn);
    });
    
    function login2FA(ID) {
        var login = {
            channel: "web",
            username: ID,
            pwd: ''
        }
        var CTLSX = JSON.stringify(login)
        $.ajax({
            url: baseURL+"/account/Login_2FA",
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            data: CTLSX,
            success: function (data) {
                console.log("---> data", data);
                if (data.error.code == 0)
                    window.location.href = baseURL + "/Calculator/Index";
                else {
                    showMsg(data.data);
                }
            },
            error: function (xhr, status, error) {
                showMsg("Please contact to your IT team.",'error');
            }
        });
    }
</script>