@{
    ViewBag.Title = "Home Page";
}
<link href="~/Style/login.css" rel="stylesheet" />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first" style="margin-top:30px">
            <img src="https://ebiz5-staging.mentormedia.com/RFID-WIREFRAME/_nuxt/img/logo.9b9a022.png" id="icon" alt="User Icon" />
        </div>
        <hr role="separator" aria-orientation="horizontal" class="my-8 v-divider theme--light">
        <form action="/Home/Index" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-md-3"><img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" /></label>
                <input type="email" class="col-md-9" style="margin-left: -30px;" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" style="max-width:380px">
            </div>
            <div class="form-group row">
                <label class="col-md-3"><img src="https://img.icons8.com/ios-glyphs/30/000000/password.png" /></label>
                <input type="password" class="col-md-9" style="margin-left: -30px;" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <div class="form-group form-check">
                <button class="btn btn-primary btn-lg" id="signin" type="button">Login</button>
                <button class="btn btn-primary btn-lg" onclick="GoToSigncUp()" type="button">Sign Up</button>
                <button class="btn btn-primary btn-lg fw" onclick="SSO()" type="button">Login As Mentor Media Staff</button>
            </div>

            <div id="formFooter" style="margin-top:20px">
            </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $("#submitButton").click(function () {
                var login = {
                    channel: "web",
                    username: $("#exampleInputEmail1").val(),
                    pwd: $("#exampleInputPassword1").val()
                }
                console.log("---> data", login);
                var CTLSX = JSON.stringify(login)
                $.ajax({
                    url: "/account/login",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    data: CTLSX,
                    success: function (data) {
                        window.location.href = "/Calculator/Index";
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });

            });

            function GoToSigncUp() {
                location.href = '@Url.Action("SignUp","Home")';
            }

            function SSO() {
                location.href = '/UAT/Freight_Wireframe/Calculator/Index?email=staff1@gmail.com';
            }
        })
</script>