<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo" >
        <a href="/Calculator/Index">
            <img src="https://ebiz5-staging.mentormedia.com/RFID-WIREFRAME/_nuxt/img/logo.9b9a022.png"
                 id="icon" alt="User Icon" style="height: 65px; margin-left:-30px" />
        </a>
       
    </div>
    <div class="links">

        <button type="button" class="btn btn-danger btn-lg" style="margin-left:100%" onclick="location.href='@Url.Action("Index", "Home")'">Logout</button>

    </div>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
