<style>
    h3 {
        font-family: Roboto,sans-serif;
        font-size: 20px;
    }
</style>

@Html.Partial("~/Views/_Header.cshtml")
@section sidebar{
    <div class="nav-side-menu">
        <i class="fa fa-lg fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                @*@foreach (var m in MM_Freight_Rate_API_Backend.Hepler.ListModules)
                    {
                        <a href="@m.URL" style="text-decoration:none">
                            <li data-toggle="collapse" class="collapsed" data-target="#products">
                                <i class="fa fa-lg @m.ICON_IMAGE" style="padding-right:10px"></i>
                                @m.MODULE_NAME
                            </li>
                        </a>
                    }*@
            </ul>
        </div>
    </div>
}
<div style="min-height:80vH">
    <section>
        <div style=" font-size:1.5rem">
            <h3>Surcharge Rate</h3>
            <div class="row">
                <div class="col-xs-6 col-md-6" style="margin-top: 15px; ">
                    <label class="col-md-12 row">Year</label>
                    <select class="form-select form-control-lg mb-5 col-md-9" id="carrierSelect">
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option selected value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select>
                </div>
            </div>
            <div class="row" hidden id="divMonth">
                <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                    <label class="col-md-12 row">Month</label>
                    <input class="form-select form-control-lg mb-5 col-md-12" type="text" readonly id="month" placeholder="Month" value="" />
                </div>
                <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                    <label class="col-md-12 row">DHL (%)</label>
                    <input id="tdSelectdhl" value="" hidden />
                    <input class="form-select form-control-lg mb-5 col-md-12" type="text" id="dhl" value="" />
                </div>
                <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                    <label class="col-md-12 row">FedEx (%)</label>
                    <input id="tdSelectfedex" value="" hidden />
                    <input class="form-select form-control-lg mb-5 col-md-12" type="text" id="fedex" value="" />
                </div>
            </div>
            <div class="row ml-0" style="margin-top:20px">
                <button type="button" class="btn btn-primary btn-lg" id="saveButton" hidden>Save Change</button>
            </div>
            <div class="row" style="margin-left:0px">
                <table class="table table-striped" id="tableSurchargeRate">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>DHL (%)</th>
                            <th>FedEx (%)</th>
                            <th class="record">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <footer style=" position:absolute;top:100%; font-size:15px;">
        <label style="font-weight: normal">Copyright Mentor Media, 2021</label>
    </footer>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/SurchargeRate/GetSurcharge?year=" + new Date().getFullYear(),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                for (var i = 0; i < response.data.length; i++) {
                    var item = response.data[i];
                    var btnEdit = $('<input value="Edit" class="edit-record" type="button" editId="' + i + '"  />');
                    $('<tr id="tr-id">')
                        .append($('<td>').append(item.MONTH_NAME))
                        .append($('<td>').append(item.DHL))
                        .append($('<td>').append(item.FedEx))
                        .append($('<td>').append(btnEdit))
                        .appendTo('table tbody');
                }

                if (response.data.length == 0) {
                    $('<tr id="tr-id">')
                        .append($('<td colspan="8">').append("No records found!"))
                        .appendTo('table tbody');
                }
            }
        });
    });
    function Edit(month) {
        let monthEng;
        if (month === 1) {
            monthEng = "January";
        }
        else if (month === 2) {
            monthEng = "February";
        }
        else if (month === 3) {
            monthEng = "March";
        }
        else if (month === 4) {
            monthEng = "April";
        }
        else if (month === 5) {
            monthEng = "May";
        }
        else if (month === 6) {
            monthEng = "June";
        }
        else if (month === 7) {
            monthEng = "July";
        }
        else if (month === 8) {
            monthEng = "August";
        }
        else if (month === 9) {
            monthEng = "September";
        }
        else if (month === 10) {
            monthEng = "October";
        }
        else if (month === 11) {
            monthEng = "November";
        }
        else if (month === 12) {
            monthEng = "December";
        }
        $("#month").val(monthEng);
        var id = "#DHL_" + month;
        var s = $(id).text();
        var id1 = "#FedEx_" + month;
        var s1 = $(id1).text();
        $("#dhl").val(s);
        $("#fedex").val(s1);
        $("#tdSelectdhl").val(id);
        $("#tdSelectfedex").val(id1);
        $("#saveButton").removeAttr("hidden");
        $("#divMonth").removeAttr("hidden");
    }
    $("#saveButton").click(function () {
        var s = $("#tdSelectdhl").val();
        var s1 = $("#tdSelectfedex").val();
        var val = $("#dhl").val();
        var val1 = $("#fedex").val();
        var html = '<td class="tdSurchargeRate" id="' + s + '">' + val + '</td>';
        $(s).replaceWith(html);
        var html1 = '<td class="tdSurchargeRate" id="' + s1 + '">' + val1 + '</td>';
        $(s1).replaceWith(html1);
        $("#dhl").val("");
        $("#fedex").val("");
        $("#month").val("");
        $("#saveButton").attr("hidden", true);
        $("#divMonth").attr("hidden", true);
    });
    $("#carrierSelect").change(function () {
        if ($("#carrierSelect").val() != 2021) {
            $(".record").css("display", "none");
        }
        else {
            $(".record").css("display", "block");
        }
    });
</script>
