<style>
    h3 {
        font-family: Roboto,sans-serif;
        font-size: 20px;
    }
</style>

@Html.Partial("~/Views/_Header.cshtml")
@section sidebar{
    <div class="nav-side-menu">
        <i class="fa fa-lg fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                @foreach (var m in MM_Freight_Rate_API_Backend.Hepler.ListModules)
                {
                    <a href="@m.URL" style="text-decoration:none">
                        <li data-toggle="collapse" class="collapsed" data-target="#products">
                            <i class="fa fa-lg @m.ICON_IMAGE" style="padding-right:10px"></i>
                            @m.MODULE_NAME
                        </li>
                    </a>
                }
            </ul>
        </div>
    </div>
}
<div style="min-height:80vH">
    <section>
        <div style=" font-size:1.5rem">
            <h3>Surcharge Rate</h3>
            <div class="row">
                <div class="col-xs-6 col-md-6" style="margin-top: 15px; ">
                    <label class="col-md-12 row">Year</label>
                    <select class="form-select form-control-lg col-md-9" id="carrierSelect">
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option selected value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select>
                </div>
            </div>
            <div class="row" hidden id="divMonth">
                <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                    <label class="col-md-12 row">Month</label>
                    <input class="form-select form-control-lg mb-5 col-md-12" type="text" disabled id="month" placeholder="Month" value="" />
                </div>
                <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                    <label class="col-md-12 row">DHL (%)</label>
                    <input id="tdSelectdhl" value="" hidden />
                    <input class="form-select form-control-lg mb-5 col-md-12" type="text" id="dhl" value="" />
                </div>
                <div class="col-xs-4 col-md-4" style="margin-top: 15px; ">
                    <label class="col-md-12 row">FedEx (%)</label>
                    <input id="tdSelectfedex" value="" hidden />
                    <input class="form-select form-control-lg mb-5 col-md-12" type="text" id="fedex" value="" />
                </div>
            </div>
            <div class="row ml-0">
                <button type="button" class="btn btn-primary btn-lg" id="saveButton" hidden>Save Change</button>
            </div>
            <div class="row" style="margin-left:0px">
                <table class="table table-striped" id="tableSurchargeRate">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>DHL (%)</th>
                            <th>FedEx (%)</th>
                            <th class="record">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <input type="hidden" id="editDataId" />
            </div>
        </div>
    </section>
    <footer style=" position:absolute;top:100%; font-size:15px;">
        <label style="font-weight: normal">Copyright Mentor Media, 2021</label>
    </footer>
</div>
<script>
    var dataList;
    $(document).ready(function () {
        function LoadData(year) {
            var contentToRemove = document.querySelectorAll("#tr-id");
            $(contentToRemove).remove();
            $.ajax({
                type: "GET",
                url: baseURL + "/SurchargeRate/GetSurcharge?year=" + year,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    dataList = response.data;
                    var currentYear = new Date().getFullYear();
                    var currentMonth = new Date().getMonth();
                    for (var i = 0; i < response.data.length; i++) {
                        var item = response.data[i];
                        var btnEdit = $('<input value="Edit" class="edit-record" type="button" editId="' + i + '"  />');
                        //if (currentYear > item.YEAR || (currentYear == item.YEAR && currentMonth >= item.MONTH)) {
                        if (currentYear > item.YEAR) {
                            btnEdit = '';
                        }
                        $('<tr id="tr-id">')
                            .append($('<td>').append(item.MONTH_NAME))
                            .append($('<td>').append(item.DHL))
                            .append($('<td>').append(item.FedEx))
                            .append($('<td>').append(btnEdit))
                            .appendTo('table tbody');
                    }

                    if (response.data.length == 0) {
                        $('<tr id="tr-id">')
                            .append($('<td colspan="8">').append("No records found!"))
                            .appendTo('table tbody');
                    }
                }
            });
        }

        LoadData(new Date().getFullYear());

        $("#carrierSelect").change(function () {
            LoadData($("#carrierSelect").val());
        });

        $(document).on('click', ".edit-record", function () {
            var index = $(this).attr("editId");
            $("#editDataId").val(index);
            $("#month").val(dataList[index].MONTH_NAME);
            $("#dhl").val(dataList[index].DHL);
            $("#fedex").val(dataList[index].FedEx);
            $("#saveButton").removeAttr("hidden");
            $("#divMonth").removeAttr("hidden");
        });

        $("#saveButton").click(function () {
            var index = $("#editDataId").val();
            $.ajax({
                type: "POST",
                url: baseURL + "/SurchargeRate/UpdateSurcharge",
                data: JSON.stringify({
                    "YEAR": dataList[index].YEAR,
                    "MONTH": dataList[index].MONTH,
                    "DHL": $("#dhl").val(),
                    "FedEx": $("#fedex").val(),
                    "CARRIER_EX_1": '',
                    "CARRIER_EX_2": '',
                    "CARRIER_EX_3": '',
                    "MONTH_NAME": dataList[index].MONTH_NAME,
                }),
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    toggleEdit(false);
                    LoadData($("#carrierSelect").val());
                }
            })
        });

        function toggleEdit(isEdit) {
            if (isEdit == true) {
                $("#divMonth").removeAttr("hidden");
            }
            else {
                $("#divMonth").attr("hidden", "true");
                $("#saveButton").attr("hidden", "true");
            }
        }

    });
</script>
