<style>
    h3 {
        font-family: Roboto,sans-serif;
        font-size: 20px;
    }
</style>

@Html.Partial("~/Views/_Header.cshtml")
@section sidebar{
    <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <a href="/UAT/Freight_Wireframe/Calculator/Index" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#products" class="collapsed">
                    <i class="fa fa-dashboard fa-lg" style="padding-right:10px"></i>
                    Calculator
                </li>

                </a>
                <a href="/UAT/Freight_Wireframe/UploadRate/Index" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#new" class="collapsed active">
                    <i class="fa fa-car fa-lg" style="padding-right:8px"></i>
                    Upload rate
                </li>
                </a>
                <a href="/UAT/Freight_Wireframe/SurchargeRate/Index" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <i class="fa fa-car fa-lg" style="padding-right:8px"></i>
                    Surcharge Rate
                </li>
                </a>
                <a href="/UAT/Freight_Wireframe/Home/AssignRole" style="text-decoration:none">
                <li data-toggle="collapse" data-target="#new" id="asrole" class="collapsed">
                    <i class="fa fa-car fa-lg" style="padding-right:8px"></i>
                    User
                </li>
                </a>
            </ul>
        </div>
    </div>
}
<body>
    <div style="min-height:80vH">
        <section>
            <div style=" font-size:1.5rem">
                <h3>Upload Rate</h3>
                <div class="row">
                    <div class="col-xs-6 col-md-6" style="margin-top: 15px; ">
                        <label class="col-md-12">Carrier</label>
                        <select class="form-select form-control-lg mb-5 col-md-8" id="carrierSelect" style=" height: 48px;">
                            <option value="-1">Please Select a Carrier</option>
                            <option value="-1">DHL</option>
                            <option value="-1">FedEx</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-6" style="margin-top: 15px; ">
                        <label class="col-md-12 row">Year</label>
                        <select class="form-select form-control-lg mb-5 col-md-8" id="carrierSelect" style=" height: 48px;">
                            <option value="0">Please Select Year</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3" style="margin-left:0px">
                    <input type="file" name="file" id="file" />
                    <br />
                    @*<input type="submit" value="Upload Image" id="upload" />*@
                    <div style="display:block">
                        <button type="button" class="btn btn-primary btn-lg" id="upload">Submit</button>
                    </div>
                </div>
                <div class="row ml-0">
                    <div>
                        <a href="/templateDHLFedEx.xlsx" download><img src="https://img.icons8.com/material-outlined/24/000000/download--v1.png" />Download teamplate DHL and FedEx</a>
                    </div>
                </div>
            </div>
        </section>
        <footer style=" position:absolute;top:100%; font-size:15px;">
            <label style="font-weight: normal">Copyright Mentor Media, 2021</label>
        </footer>
    </div>
</body>

<script>
    $("#upload").click(function () {
        console.log("hello")
        var file = $("#file").val();
        console.log("file:", file)
        $('<tr id="tr-id">')

        if (file != "")
            alert("Import file sucessful")
        //for (i = 1; i < 15; i++) {
        //    //var cost = data[i].Cost * parseFloat(weightSelect);
        //    var cost = i * 1.5 + 20;
        //    var Australia = Number(cost).toLocaleString();
        //    var Argentina = Number(i * 1.7 + 20).toLocaleString()
        //    var Austria = Number(i * 1.9 + 20).toLocaleString()
        //    var Belgium = Number(i * 2.1 + 20).toLocaleString()
        //    var Bolivia = Number(i * 2.3 + 20).toLocaleString()
        //    var Brazil = Number(i * 2.1 + 20).toLocaleString()
        //    var Canada = Number(i * 2 + 20).toLocaleString()
        //    var Chile = Number(i * 1.9 + 20).toLocaleString()
        //    var package = Number(i).toLocaleString();
        //    console.log(cost)
        //    $('<tr id="tr-id">')
        //        .append($('<td>').append(package))
        //        .append($('<td>').append(Argentina))
        //        .append($('<td>').append(Australia))
        //        .append($('<td>').append(Austria))
        //        .append($('<td>').append(Belgium))
        //        .append($('<td>').append(Bolivia))
        //        .append($('<td>').append(Brazil))
        //        .append($('<td>').append(Canada))
        //        .append($('<td>').append(Chile))
        //        .appendTo('table');
        //}
        else {
            alert("You have not imported the file ")
        }
    })


    $("#weightSelect").change(function () {
        console.log("sadsadaf")
        var source = $("#weightSelect").val();
        console.log(source)
        var contentToRemove = document.querySelectorAll("#tr-id");
        $(contentToRemove).remove();
        if (source == "") {
            for (i = 1; i < 15; i++) {
                //var cost = data[i].Cost * parseFloat(weightSelect);
                var cost = i * 1.5 + 20;
                var Australia = Number(cost).toLocaleString();
                var Argentina = Number(i * 1.7 + 20).toLocaleString()
                var Austria = Number(i * 1.9 + 20).toLocaleString()
                var Belgium = Number(i * 2.1 + 20).toLocaleString()
                var Bolivia = Number(i * 2.3 + 20).toLocaleString()
                var Brazil = Number(i * 2.1 + 20).toLocaleString()
                var Canada = Number(i * 2 + 20).toLocaleString()
                var Chile = Number(i * 1.9 + 20).toLocaleString()
                var package = Number(i).toLocaleString();
                console.log(cost)
                $('<tr id="tr-id">')
                    .append($('<td>').append(package))
                    .append($('<td>').append(Argentina))
                    .append($('<td>').append(Australia))
                    .append($('<td>').append(Austria))
                    .append($('<td>').append(Belgium))
                    .append($('<td>').append(Bolivia))
                    .append($('<td>').append(Brazil))
                    .append($('<td>').append(Canada))
                    .append($('<td>').append(Chile))
                    .appendTo('table tbody');
            }
        }
        else {
            var cost = source * 1.5 + 20;
            var Australia = Number(cost).toLocaleString();
            var Argentina = Number(source * 1.7 + 20).toLocaleString()
            var Austria = Number(source * 1.9 + 20).toLocaleString()
            var Belgium = Number(source * 2.1 + 20).toLocaleString()
            var Bolivia = Number(source * 2.3 + 20).toLocaleString()
            var Brazil = Number(source * 2.1 + 20).toLocaleString()
            var Canada = Number(source * 2 + 20).toLocaleString()
            var Chile = Number(source * 1.9 + 20).toLocaleString()
            var package = Number(source).toLocaleString();
            console.log(cost)
            $('<tr id="tr-id">')
                .append($('<td>').append(package))
                .append($('<td>').append(Argentina))
                .append($('<td>').append(Australia))
                .append($('<td>').append(Austria))
                .append($('<td>').append(Belgium))
                .append($('<td>').append(Bolivia))
                .append($('<td>').append(Brazil))
                .append($('<td>').append(Canada))
                .append($('<td>').append(Chile))
                .appendTo('table tbody');
        }
    })
</script>

